/* Start Form */
h1 {
    display: flex;
    justify-content: center;
    margin: 3rem!important;
}

.intro {
    height: 100%;
    margin: 4rem 0 10rem 0;
}

.intro .card{
    background-color: #E4E4E4;
    border-radius: 10px;
}

.form-outline input{
    margin: 1rem 0;
}

.form-outline textarea{
    margin: 1rem 0;
    height: 15rem;
}

.formulir button{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #28B446;
    color: #fff;
}

/* End Form */