/*TOP*/
#top{
    background-color: rgba(83, 148, 7, 1);
  }
  
  #top p{
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Rubik;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
  }
  
  @media (max-width: 1005px) {
    #top #text1{
        display: none;
    }
  }
  /* end top */
/* navbar */
#navbarTogglerDemo02 ul li a{
    padding: 0 30px;
  }
/* end navbar */

/* div putih */


#div_putih h1{
  font-family: "Rubik-SemiBold", Helvetica;
  font-weight: 600;
  color: #539407;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}


/* end div putih */

/* section putih */
.element-section {
  display: flex;
  flex-direction: column;
  width: 1169px;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding: 24px 25px;
  position: absolute;
  top: -15px;
  /* left: 375px; */
  background-color: #ffffff;
  box-shadow: var(--shadow-1);
}

.group-5 {
  position: relative;
  width: 687px;
  height: 58px;
}

.text-wrapper-31 {
  position: absolute;
  top: 0;
  left: 249px;
  font-family: "Rubik-SemiBold", Helvetica;
  font-weight: 600;
  color: #539407;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-32 {
  position: absolute;
  width: 683px;
  top: 38px;
  left: 0;
  font-family: "Rubik-Light", Helvetica;
  font-weight: 300;
  color: #0f4229;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.group-6 {
  position: relative;
  width: 22.5px;
  height: 8px;
}

.ellipse {
  left: 0;
  background-color: #e6e6e6;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  border-radius: 4px;
}

.ellipse-2 {
  left: 14px;
  background-color: #539407;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  border-radius: 4px;
}

.group-7 {
  position: relative;
  width: 567px;
  height: 48px;
}

.text-wrapper-33 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Rubik-SemiBold", Helvetica;
  font-weight: 600;
  color: #539407;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-34 {
  position: absolute;
  width: 369px;
  top: 8px;
  left: 194px;
  font-family: "Rubik-Light", Helvetica;
  font-weight: 300;
  color: #0f4229;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
/* end section putih */

.home-page {
    background-color: #ffffff;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
  .home-page .div {
    background-color: #ffffff;
    width: 1920px;
    height: 3384px;
    position: relative;
  }
  
  .home-page .overlap {
    position: absolute;
    width: 1920px;
    height: 1573px;
    top: 1811px;
    left: 0;
  }
  
  .home-page .group {
    position: absolute;
    width: 1415px;
    height: 1068px;
    top: 0;
    left: 253px;
  }
  
  .home-page .img {
    position: absolute;
    width: 1423px;
    height: 323px;
    top: 0;
    left: -4px;
  }
  
  .home-page .group-2 {
    position: absolute;
    width: 1423px;
    height: 323px;
    top: 379px;
    left: -4px;
  }
  
  .home-page .group-3 {
    position: absolute;
    width: 1423px;
    height: 323px;
    top: 758px;
    left: -4px;
  }
  
  .home-page .overlap-wrapper {
    position: absolute;
    width: 1920px;
    height: 628px;
    top: 945px;
    left: 0;
  }
  
  .home-page .overlap-group {
    position: relative;
    height: 628px;
  }
  
  .home-page .section-wrapper {
    position: absolute;
    width: 1920px;
    height: 568px;
    top: 60px;
    left: 0;
  }
  
  .home-page .section {
    display: inline-flex;
    align-items: flex-start;
    padding: 150px 0px 37px;
    position: relative;
    background-image: url(./img/section.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .home-page .div-2 {
    position: relative;
    width: 1920px;
    height: 381.39px;
  }
  
  .home-page .div-3 {
    display: inline-flex;
    align-items: flex-start;
    padding: 0px 0.02px 0px 0px;
    position: absolute;
    top: 0;
    left: 627px;
  }
  
  .home-page .div-4 {
    position: relative;
    width: 292.5px;
    height: 237.39px;
  }
  
  .home-page .text-wrapper {
    position: absolute;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .home-page .span {
    width: 22px;
    height: 3px;
    top: 38px;
    left: 0;
    border-top-width: 3px;
    border-color: #539407;
    position: absolute;
    border-top-style: solid;
  }
  
  .home-page .p {
    position: absolute;
    width: 242px;
    height: 79px;
    top: 71px;
    left: 0;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .home-page .div-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 88.5px 0px 0px;
    position: absolute;
    top: 191px;
    left: 0;
  }
  
  .home-page .a {
    position: relative;
    width: 39px;
    height: 39px;
    background-color: #539407;
    border-radius: 19.5px;
  }
  
  .home-page .text-wrapper-2 {
    position: absolute;
    width: 8px;
    height: 13px;
    top: 12px;
    left: 15px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .div-wrapper {
    position: relative;
    width: 39px;
    height: 39px;
    background-color: #ffffff1a;
    border-radius: 19.5px;
  }
  
  .home-page .text-wrapper-3 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 12px;
    left: 13px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-4 {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 12px;
    left: 14px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .div-6 {
    position: relative;
    width: 374.39px;
    height: 237.39px;
  }
  
  .home-page .text-wrapper-5 {
    position: absolute;
    height: 20px;
    top: -1px;
    left: 23px;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .home-page .span-2 {
    width: 22px;
    height: 3px;
    top: 38px;
    left: 23px;
    border-top-width: 3px;
    border-color: #539407;
    position: absolute;
    border-top-style: solid;
  }
  
  .home-page .text-wrapper-6 {
    position: absolute;
    width: 295px;
    height: 49px;
    top: 71px;
    left: 23px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .home-page .overlap-group-wrapper {
    position: absolute;
    width: 351px;
    height: 70px;
    top: 151px;
    left: 23px;
  }
  
  .home-page .overlap-group-2 {
    position: relative;
    height: 70px;
    border-radius: 35px;
  }
  
  .home-page .input-mf-input-email {
    display: inline-flex;
    align-items: flex-start;
    padding: 25px 21px 26px 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .home-page .div-placeholder {
    display: inline-flex;
    align-items: flex-start;
    padding: 0px 198.39px 0px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-page .button {
    display: inline-flex;
    align-items: flex-start;
    padding: 20px 22px 18px 20px;
    position: absolute;
    top: 4px;
    left: 286px;
    background-color: #539407;
    border-radius: 29px;
    all: unset;
    box-sizing: border-box;
  }
  
  .home-page .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .span-3 {
    width: 1170px;
    height: 1px;
    top: 316px;
    left: 375px;
    border-top-width: 1px;
    border-color: #ffffff33;
    position: absolute;
    border-top-style: solid;
  }
  
  .home-page .a-2 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 326px;
    left: 1835px;
    border-radius: 27.5px;
    border: 2px solid;
    border-color: #539407;
  }
  
  .home-page .text-wrapper-9 {
    position: absolute;
    width: 13px;
    height: 15px;
    top: 18px;
    left: 21px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-10 {
    position: absolute;
    height: 30px;
    top: 346px;
    left: 631px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .home-page .group-4 {
    position: absolute;
    width: 1176px;
    height: 120px;
    top: 0;
    left: 375px;
  }
  
  .home-page .overlap-2 {
    position: absolute;
    width: 870px;
    height: 120px;
    top: 0;
    left: 300px;
    background-color: #c0eac2;
    border-radius: 12px;
  }
  
  .home-page .element {
    position: absolute;
    top: 40px;
    left: 68px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .home-page .basah-gmail-com {
    position: absolute;
    width: 206px;
    top: 40px;
    left: 642px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .home-page .text-wrapper-11 {
    position: absolute;
    width: 223px;
    top: 27px;
    left: 339px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .home-page .material-symbols {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 44px;
    left: 23px;
  }
  
  .home-page .material-symbols-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 44px;
    left: 296px;
  }
  
  .home-page .ic-baseline-email {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 44px;
    left: 592px;
  }
  
  .home-page .vector {
    left: 272px;
    position: absolute;
    width: 1px;
    height: 88px;
    top: 16px;
  }
  
  .home-page .vector-2 {
    left: 568px;
    position: absolute;
    width: 1px;
    height: 88px;
    top: 16px;
  }
  
  .home-page .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #539407;
    border-radius: 12px;
  }
  
  .home-page .logo {
    position: relative;
    width: 236px;
    height: 72px;
  }
  
  .home-page .vector-3 {
    position: absolute;
    width: 54px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .home-page .screenshot {
    position: absolute;
    width: 170px;
    height: 55px;
    top: 9px;
    left: 66px;
    object-fit: cover;
  }
  
  /* .home-page .overlap-3 {
    position: absolute;
    width: 1920px;
    height: 1542px;
    top: 150px;
    left: 0;
  } */
  
  .home-page .hero-section {
    position: absolute;
    width: 1920px;
    height: 691px;
    top: 0;
    left: 0;
    background-color: #b0d9b1;
    background-image: url(./img/ecology-icons-beige-background-vector-illustration-24908-37723-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .home-page .hero-section-content {
    display: flex;
    width: 1843px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 319px;
    left: 39px;
  }
  
  .home-page .a-3 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #539407;
    border-radius: 25px;
  }
  
  .home-page .text-wrapper-12 {
    position: absolute;
    width: 10px;
    height: 21px;
    top: 13px;
    left: 20px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .home-page .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .our-mission {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: var(--h-1);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.4px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-13 {
    position: relative;
    width: 831px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #274722;
    font-size: 84px;
    text-align: center;
    letter-spacing: 0;
    line-height: 92.4px;
  }
  
  .home-page .screenshot-2 {
    position: absolute;
    width: 505px;
    height: 234px;
    top: 58px;
    left: 708px;
    object-fit: cover;
  }
  
  .home-page .about-us-intro {
    position: absolute;
    width: 1920px;
    height: 677px;
    top: 865px;
    left: 0;
    background-color: #b0d9b1;
  }
  
  .home-page .div-7 {
    position: relative;
    height: 677px;
  }
  
  .home-page .frame-3 {
    display: flex;
    flex-direction: column;
    width: 795px;
    height: 303px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 187px;
    left: 99px;
  }
  
  .home-page .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #539407;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 26.4px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-15 {
    position: relative;
    width: 485px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #191919;
    font-size: 46px;
    letter-spacing: 0;
    line-height: 64.4px;
  }
  
  .home-page .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .apa-itu-bank-sampah {
    position: relative;
    width: 787px;
    margin-top: -1px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .home-page .text-wrapper-16 {
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .home-page .text-wrapper-17 {
    text-decoration: underline;
  }
  
  .home-page .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 40px;
    position: relative;
    flex: 0 0 auto;
    background-color: #539407;
    border-radius: 42px;
  }
  
  .home-page .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 26.4px;
    white-space: nowrap;
  }
  
  .home-page .material-symbols-3 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .home-page .paxel-recycle {
    position: absolute;
    width: 862px;
    height: 564px;
    top: 78px;
    left: 1024px;
    object-fit: cover;
  }
  
  .home-page .header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -1018px;
    left: 0;
    background-color: transparent;
  }
  
  .home-page .contact-bar {
    align-items: flex-start;
    padding: 11px 65px 10px;
    background-color: #539407;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .div-8 {
    display: flex;
    width: 1790px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  
  .home-page .a-4 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-19 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .home-page .frame-7 {
    display: inline-flex;
    gap: 32px;
    flex: 0 0 auto;
    align-items: center;
    position: relative;
  }
  
  .home-page .a-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 1px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-21 {
    position: relative;
    width: fit-content;
    font-family: "Font Awesome 5 Free-Regular", Helvetica;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .div-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 1px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-22 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .nav-bar {
    display: flex;
    width: 1919.69px;
    align-items: flex-start;
    gap: 10px;
    padding: 24px 170px;
    position: relative;
    flex: 0 0 auto;
    background-color: #e8f5e9;
  }
  
  .home-page .frame-8 {
    display: flex;
    width: 1579.69px;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .home-page .logo-2 {
    position: relative;
    width: fit-content;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 400;
    color: #0f4229;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-23 {
    font-weight: 300;
  }
  
  .home-page .text-wrapper-24 {
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
  }
  
  .home-page .frame-9 {
    display: inline-flex;
    gap: 73px;
    flex: 0 0 auto;
    align-items: center;
    position: relative;
  }
  
  .home-page .ul-menu-main-menu {
    display: flex;
    width: 587.69px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .home-page .home {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-25 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #539407;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-26 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    color: #539407;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-27 {
    position: relative;
    width: fit-content;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0f4229;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .home-page .a-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 5.44px;
    padding: 11.56px 4.25px 13.58px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-28 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0f4229;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-29 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    color: #0f4229;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .contact-button {
    align-items: center;
    padding: 16px 40px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #707070;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home-page .sign-up {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 400;
    color: #0f4229;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-30 {
    font-weight: 500;
  }
  
  .home-page .element-section {
    display: flex;
    flex-direction: column;
    width: 1169px;
    align-items: center;
    justify-content: center;
    gap: 17px;
    padding: 24px 25px;
    position: absolute;
    top: -15px;
    /* left: 375px; */
    background-color: #ffffff;
    box-shadow: var(--shadow-1);
  }
  
  .home-page .group-5 {
    position: relative;
    width: 687px;
    height: 58px;
  }
  
  .home-page .text-wrapper-31 {
    position: absolute;
    top: 0;
    left: 249px;
    font-family: "Rubik-SemiBold", Helvetica;
    font-weight: 600;
    color: #539407;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-32 {
    position: absolute;
    width: 683px;
    top: 38px;
    left: 0;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #0f4229;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .home-page .group-6 {
    position: relative;
    width: 22.5px;
    height: 8px;
  }
  
  .home-page .ellipse {
    left: 0;
    background-color: #e6e6e6;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    border-radius: 4px;
  }
  
  .home-page .ellipse-2 {
    left: 14px;
    background-color: #539407;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    border-radius: 4px;
  }
  
  .home-page .group-7 {
    position: relative;
    width: 567px;
    height: 48px;
  }
  
  .home-page .text-wrapper-33 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Rubik-SemiBold", Helvetica;
    font-weight: 600;
    color: #539407;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-34 {
    position: absolute;
    width: 369px;
    top: 8px;
    left: 194px;
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
    color: #0f4229;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .home-page .group-8 {
    position: absolute;
    width: 922px;
    height: 32px;
    top: 1741px;
    left: 499px;
  }
  
  .home-page .line {
    position: absolute;
    width: 922px;
    height: 5px;
    top: 27px;
    left: 0;
  }
  
  .home-page .line-2 {
    position: absolute;
    width: 660px;
    height: 6px;
    top: -5px;
    left: 131px;
  }

  /* slide */
  #carouselExampleAutoplaying p{
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: var(--h-1);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.4px;
    white-space: nowrap;
  }
  #carouselExampleAutoplaying h2{
    font-weight: 500;
    color: #274722;
    font-size: 84px;
    text-align: center;
    letter-spacing: 0;
    line-height: 92.4px;
  }

  #carouselExampleAutoplaying #carousel-item img{
    width: 505px;
    height: 234px;
  }


  /* end slide */

  /* slider section */

.slider_section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(6, 10, 54, 0.8)), to(rgba(6, 10, 54, 0.8))), url(../image/slider-bg.jpg);
    background-image: linear-gradient(to right, rgba(6, 10, 54, 0.8), rgba(6, 10, 54, 0.8)), url(../image/slider-bg.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  .slider_section #customCarousel1 {
    width: 100%;
    position: unset;
  }
  
  .slider_section .detail_box {
    color: #ffffff;
  }
  
  .slider_section .detail_box h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .slider_section .detail_box a {
    display: inline-block;
    padding: 12px 35px;
    background-color: #1376b1;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid #1376b1;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 35px;
  }
  
  .slider_section .detail_box a:hover {
    background-color: transparent;
    color: #1376b1;
  }
  
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 1;
    font-size: 22px;
    top: 50%;
    color: #000000;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .slider_section .carousel-control-prev:hover,
  .slider_section .carousel-control-next:hover {
    background-color: #1376b1;
    color: #ffffff;
  }
  
  .slider_section .carousel-control-prev {
    left: 10%;
  }
  
  .slider_section .carousel-control-next {
    right: 10%;
  }
  /* End slider section */

  /* styleguide */
  :root {
    --h-1: rgba(39, 71, 34, 1);
    --h-2: rgba(121, 172, 120, 1);
    --font-1-font-family: "Shanti-Regular", Helvetica;
    --font-1-font-weight: 400;
    --font-1-font-size: 12px;
    --font-1-letter-spacing: 0px;
    --font-1-line-height: normal;
    --font-1-font-style: normal;
    --rubik-font-family: "Rubik-Regular", Helvetica;
    --rubik-font-weight: 400;
    --rubik-font-size: 12px;
    --rubik-letter-spacing: 0px;
    --rubik-line-height: normal;
    --rubik-font-style: normal;
    --josh-font-family: "Jost-Regular", Helvetica;
    --josh-font-weight: 400;
    --josh-font-size: 12px;
    --josh-letter-spacing: 0px;
    --josh-line-height: normal;
    --josh-font-style: normal;
    --font-tombol-roboto-font-family: "Roboto-Regular", Helvetica;
    --font-tombol-roboto-font-weight: 400;
    --font-tombol-roboto-font-size: 12px;
    --font-tombol-roboto-letter-spacing: 0px;
    --font-tombol-roboto-line-height: normal;
    --font-tombol-roboto-font-style: normal;
    --shadow-1: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }
  