/*TOP*/
#top{
  background-color: rgba(83, 148, 7, 1);
}

#top p{
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
}

@media (max-width: 1005px) {
  #top #text1{
      display: none;
  }
}
/* end top */

#navbarTogglerDemo02 ul li a{
  padding: 0 30px;
  }
  
  @media (max-width: 1000px) {
  nav #navbarTogglerDemo02 #button_sign_in{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 25%;
  }
  
  nav #navbarTogglerDemo02 ul{
    display: flex;
    align-items: center;
  }
  }
  
  nav #navbarTogglerDemo02 ul li a:hover{
  color: #79AC78;
  }
  
  nav .navbar-toggler{
    margin-left: auto;
    margin-right: 1rem;
  }
  

@media (min-width:991px){
  .dropdown{
    display: none;
  }
}

.reverse{
  flex-direction: row-reverse;
  margin-left: auto;
}

nav .container-fluid{
  justify-content: flex-start!important;
}