/* STRUCTURE */
#gradient {
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(79,189,11,86%));
}

#gradient h1{
  /* font-family: "Jost-LightItalic", Helvetica; */
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 3vw;
  letter-spacing: 0;
  line-height: normal;
  width: 55vw;
}

#gradient h3{
  /* font-family: "Jost-LightItalic", Helvetica; */
  font-weight: 300;
  font-style: italic;
  color: rgba(39, 71, 34, 1);
  font-size: 2vw;
  letter-spacing: 0;
  line-height: normal;
  padding-top: 1rem;
  width: 45vw;
}

#gradient .text1{
  margin-top: 25%;
  background-color: #539407;
  color: #fff;
  width: fit-content;
  border-radius: 27px;
  align-items: center;
  font-size: 1.5vw;
  text-align: center;
}

#gradient button{
color: #fff;
display: flex;
align-items: center;
font-size: 1.3vw;
}

#gradient img{
  width: 100%;
}

.section1 h1{
  display: flex;
  justify-content: center;
  margin: 10rem 0 2rem 0;
  font-family: 'Rowdies', sans-serif;
}

.section1 .bg{
  background-color: #0F4229;
  position: relative;
}

.section1 h4{
color: #28B446;
margin-bottom: 0;
}

.section1 a i{
font-size: 3rem;
color: #23AA49;
}
.section1 .card{
width: 13rem;
}

@media (max-width: 576px){
#gradient h1,h3{
  display: none;
}

#gradient .row{
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 0!important;
}

#gradient .col-7{
  display: flex;
  justify-content: center;
}

#gradient .col-5{
  width: 70%;
}

#gradient button{
  font-size: 2vw;
}

.section1 h1{
  font-size: 4vw;
  margin-top: 2rem!important;
}

.section1 .row{
  justify-content: center;
}

.section1 .col-sm-6{
  width: 36%!important;
}

.section1 .card img{
  height: 10rem!important;
}
}
/* END STRUCTURE */